# Extraction of data V2

In [2]:
import pandas as pd
import xarray as xr
import matplotlib.pyplot as plt

In [57]:
min_lat = -30
max_lat = 0
min_lon = 20
max_lon = 90
min_year = 1980
max_year = 2022

variables = ['vo','r','u','v','sst','tcwv','tclw','tciw']
df_all = pd.DataFrame()

for year in range(min_year,max_year+1):
    df_full = pd.DataFrame()
    
    for var in variables:
        ds = xr.open_dataset('/Users/paolo/Desktop/tc_fullDataset/2d_clint_'+str(year)+'0101_'+str(year)+'1231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': var}})
    
        df = ds.to_dataframe().reset_index()
        df = df.loc[(df.latitude>=min_lat) & (df.longitude>=min_lon) & (df.latitude<=max_lat) & (df.longitude<=max_lon)]
        df_full['latitude'] = df.reset_index().latitude
        df_full['longitude'] = df.reset_index().longitude
        df_full['time'] = df.reset_index().time
        if var in ['u','v']:
            df_red = df.loc[df.isobaricInhPa==200,[var]].reset_index(drop=True).rename(columns={'u':'u_200','v':'v_200'})
            df_full = pd.concat([df_full,df_red],axis=1)
            df_red = df.loc[df.isobaricInhPa==850,[var]].reset_index(drop=True).rename(columns={'u':'u_850','v':'v_850'})
            df_full = pd.concat([df_full,df_red],axis=1)
        else:
            df_red = df.reset_index(drop=True).loc[:,[var]]
            df_full = pd.concat([df_full,df_red],axis=1)
    df_all = pd.concat([df_all,df_full])
    print(year)

df_all = df_all.reset_index(drop=True)
df_all

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw
0,0.0,20.0,1980-01-01,0.000017,85.120087,-2.618088,-2.175461,2.218536,-1.998657,NaN,47.828575,0.150970,0.078217
1,0.0,22.5,1980-01-01,0.000007,83.907196,-3.190353,-2.749680,0.741974,-1.811157,NaN,44.152794,0.095917,0.004822
2,0.0,25.0,1980-01-01,0.000015,83.807587,-3.930588,-2.235031,2.988068,-1.632446,NaN,44.861778,0.084991,0.111206
3,0.0,27.5,1980-01-01,0.000013,83.241180,-6.866135,-1.026047,5.995880,-0.287720,NaN,40.847130,0.059113,0.012238
4,0.0,30.0,1980-01-01,0.000017,67.768524,-8.022385,-1.324875,6.034943,0.197632,NaN,28.021935,0.019348,0.003830
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5921157,-30.0,80.0,2022-12-31,0.000011,13.485237,13.612839,-5.971649,5.094070,-1.689285,295.336670,24.838732,0.045502,0.003967
5921158,-30.0,82.5,2022-12-31,0.000014,12.116096,12.431198,-6.154266,8.201492,0.429855,295.084717,25.815294,0.059784,0.000229
5921159,-30.0,85.0,2022-12-31,0.000025,8.479378,15.138229,-5.186493,12.883133,2.463058,294.759521,22.133654,0.063934,0.000305
5921160,-30.0,87.5,2022-12-31,0.000005,8.858284,19.495651,-4.598602,18.322586,3.715012,294.417725,18.276232,0.057159,0.000061
5921161,-30.0,90.0,2022-12-31,0.000003,7.129768,22.185104,-3.670868,25.125320,4.077316,294.013428,17.952013,0.069916,0.003296

In [58]:
df_all.to_csv('features_all_new.csv')

In [59]:
df_all

,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw
0,0.0,20.0,1980-01-01,0.000017,85.120087,-2.618088,-2.175461,2.218536,-1.998657,NaN,47.828575,0.150970,0.078217
1,0.0,22.5,1980-01-01,0.000007,83.907196,-3.190353,-2.749680,0.741974,-1.811157,NaN,44.152794,0.095917,0.004822
2,0.0,25.0,1980-01-01,0.000015,83.807587,-3.930588,-2.235031,2.988068,-1.632446,NaN,44.861778,0.084991,0.111206
3,0.0,27.5,1980-01-01,0.000013,83.241180,-6.866135,-1.026047,5.995880,-0.287720,NaN,40.847130,0.059113,0.012238
4,0.0,30.0,1980-01-01,0.000017,67.768524,-8.022385,-1.324875,6.034943,0.197632,NaN,28.021935,0.019348,0.003830
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5921157,-30.0,80.0,2022-12-31,0.000011,13.485237,13.612839,-5.971649,5.094070,-1.689285,295.336670,24.838732,0.045502,0.003967
5921158,-30.0,82.5,2022-12-31,0.000014,12.116096,12.431198,-6.154266,8.201492,0.429855,295.084717,25.815294,0.059784,0.000229
5921159,-30.0,85.0,2022-12-31,0.000025,8.479378,15.138229,-5.186493,12.883133,2.463058,294.759521,22.133654,0.063934,0.000305
5921160,-30.0,87.5,2022-12-31,0.000005,8.858284,19.495651,-4.598602,18.322586,3.715012,294.417725,18.276232,0.057159,0.000061
5921161,-30.0,90.0,2022-12-31,0.000003,7.129768,22.185104,-3.670868,25.125320,4.077316,294.013428,17.952013,0.069916,0.003296

## comparison with old features

In [60]:
train = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/training_sets_withrealtom.csv')
val = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/validation_sets_withrealtom.csv')
test = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/test_sets_withrealtom.csv')

In [8]:
ds = xr.open_dataset("/Users/paolo/Desktop/predictors_v2_dailymean/2d_clint_19960101_19961231.grb", engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': 'tcwv'}})
df = ds.to_dataframe().reset_index()
df.loc[(df.time=='1996-11-22') & (df.latitude==0) & (df.longitude==20)]

,time,latitude,longitude,number,step,surface,valid_time,tcwv
3432176,1996-11-22,0.0,20.0,0,0 days,0.0,1996-11-22,46.983852

In [61]:
df_all[df_all.time=='1996-11-22']

,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw
2326090,0.0,20.0,1996-11-22,0.000017,74.947937,-5.834137,-2.061264,3.808899,-1.333755,NaN,49.759407,0.094528,0.224991
2326091,0.0,22.5,1996-11-22,0.000018,76.447937,-0.382965,-0.408920,2.543274,-0.888443,NaN,48.622688,0.028183,0.243668
2326092,0.0,25.0,1996-11-22,0.000024,79.453796,2.005707,1.491470,4.013977,0.177963,NaN,49.193001,0.054169,0.120972
2326093,0.0,27.5,1996-11-22,0.000014,77.852234,1.476410,2.096939,4.928040,0.551010,NaN,42.439095,0.062500,0.050644
2326094,0.0,30.0,1996-11-22,-0.000015,74.072937,3.452972,1.729752,3.215149,0.298080,NaN,33.112923,0.053574,0.037079
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326462,-30.0,80.0,1996-11-22,0.000012,17.112001,21.636566,-0.690170,7.646790,6.502182,292.979004,12.810189,0.041336,0.002075
2326463,-30.0,82.5,1996-11-22,0.000009,14.701846,29.408051,0.788345,2.117493,7.715073,292.725098,12.181283,0.035278,0.003494
2326464,-30.0,85.0,1996-11-22,0.000006,4.190127,39.460785,3.020767,-4.927429,8.265854,292.773926,11.703744,0.032684,0.002701
2326465,-30.0,87.5,1996-11-22,-0.000004,3.176455,47.413910,5.909439,-14.277039,7.926010,292.682129,11.411752,0.023773,0.002502
2326466,-30.0,90.0,1996-11-22,-0.000014,10.162784,55.263519,8.239517,-24.747742,6.593979,293.114746,11.664681,0.027298,0.002777

In [62]:
train[train.time=='1996-11-22']

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,lsm,newlsm,new_target,Real_tom_target
2326090,122902,1996-11-22,0.0,20.0,0.000011,71.849900,-6.348007,-1.805199,3.524116,-1.500118,-179.22093,0.00000,0.0,0.0,0.0,0.0
2326091,122903,1996-11-22,0.0,22.5,0.000017,76.161330,-5.050667,0.373325,3.837387,-1.404762,-162.48611,0.00000,0.0,0.0,0.0,0.0
2326092,122904,1996-11-22,0.0,25.0,0.000025,78.665420,-3.048210,1.435764,4.457382,-0.165016,-157.82240,0.00000,0.0,0.0,0.0,0.0
2326093,122905,1996-11-22,0.0,27.5,0.000012,79.344894,-0.544075,2.145126,5.928963,0.884998,-164.95130,0.00000,0.0,0.0,0.0,0.0
2326094,122906,1996-11-22,0.0,30.0,-0.000013,76.933230,2.499176,1.043911,5.019287,-0.148899,-181.17056,0.00000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326462,123274,1996-11-22,-30.0,80.0,0.000016,13.154328,20.886063,-0.198418,5.998444,2.154896,-249.00462,292.97870,0.0,0.0,0.0,0.0
2326463,123275,1996-11-22,-30.0,82.5,0.000014,12.514314,25.898285,-0.193237,-0.006668,3.393776,-255.92018,292.72495,0.0,0.0,0.0,0.0
2326464,123276,1996-11-22,-30.0,85.0,0.000011,8.943742,33.412590,0.546616,-6.579430,4.406574,-258.74090,292.77374,0.0,0.0,0.0,0.0
2326465,123277,1996-11-22,-30.0,87.5,0.000008,7.284326,42.400032,2.251022,-13.048958,5.132404,-263.78980,292.68234,0.0,0.0,0.0,0.0
2326466,123278,1996-11-22,-30.0,90.0,0.000004,6.824685,52.075470,4.222462,-19.879646,5.296528,-268.48315,293.11493,0.0,0.0,0.0,0.0

In [66]:
ds = xr.open_dataset('/Users/paolo/Desktop/tc_fullDataset/2d_clint_'+str(1996)+'0101_'+str(1996)+'1231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': 'r'}})
df = ds.to_dataframe().reset_index()
df.loc[(df.time=='1996-11-22') & (df.latitude==0) & (df.longitude==20)]

,time,latitude,longitude,number,step,isobaricInhPa,valid_time,r
3432176,1996-11-22,0.0,20.0,0,0 days,700.0,1996-11-22,74.947937

In [67]:
ds = xr.open_dataset('/Users/paolo/Desktop/19960101_19961231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': 'r'}})
df = ds.to_dataframe().reset_index()
df.loc[(df.time=='1996-11-22') & (df.latitude==0) & (df.longitude==20)]

,time,latitude,longitude,number,step,isobaricInhPa,valid_time,r
3432176,1996-11-22,0.0,20.0,0,0 days,700.0,1996-11-22,71.849899

In [70]:
ds = xr.open_dataset('/Users/paolo/Desktop/tc_fullDataset/2d_clint_19960101_19961231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': 'r'}})
df = ds.to_dataframe().reset_index()
df.loc[(df.time=='1996-11-22') & (df.latitude==0) & (df.longitude==20)]

,time,latitude,longitude,number,step,isobaricInhPa,valid_time,r
3432176,1996-11-22,0.0,20.0,0,0 days,700.0,1996-11-22,74.947937

In [71]:
ds = xr.open_dataset('/Users/paolo/Desktop/19960101_19961231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': 'r'}})
df = ds.to_dataframe().reset_index()
df.loc[(df.time=='1996-11-22') & (df.latitude==0) & (df.longitude==20)]

,time,latitude,longitude,number,step,isobaricInhPa,valid_time,r
3432176,1996-11-22,0.0,20.0,0,0 days,700.0,1996-11-22,71.849899

## Hooman extraction

In [73]:
train = pd.read_csv('/Users/paolo/Documents/TC_old/data/tcwv/traing_window_11.csv')
val = pd.read_csv('/Users/paolo/Documents/TC_old/data/tcwv/val_window_11.csv')
test = pd.read_csv('/Users/paolo/Documents/TC_old/data/tcwv/test_window_11.csv')
test = test.loc[test.time>='2016-04-01']

In [76]:
test

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,new_target,clim,Real_tom_target,shear,tcwv
34307,34307,2016-04-01,0.0,20.0,0.000004,81.055560,-8.377182,5.273445,2.527817,2.160847,-171.625750,0.00000,0.0,0.000000,0.0,13.655559,54.083202
34308,34308,2016-04-01,0.0,22.5,-0.000002,76.221700,-6.143539,4.284462,4.278809,2.030232,-145.830180,0.00000,0.0,0.000000,0.0,10.667676,59.647655
34309,34309,2016-04-01,0.0,25.0,0.000018,75.465416,-1.724731,3.315552,3.811935,1.344738,-121.705734,0.00000,0.0,0.000000,0.0,5.611730,61.952343
34310,34310,2016-04-01,0.0,27.5,-0.000009,72.850200,1.577347,1.549385,4.243774,2.951813,-123.376850,0.00000,0.0,0.000000,0.0,1.292264,51.772655
34311,34311,2016-04-01,0.0,30.0,-0.000009,82.229460,1.983276,1.535709,5.736717,0.056183,-144.360550,0.00000,0.0,0.000000,0.0,5.698139,41.442577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963984,963984,2022-12-31,-30.0,80.0,0.000011,13.485237,13.612839,-5.971649,5.094070,-1.689285,-278.462220,295.33667,0.0,0.003781,0.0,20.725976,24.838732
963985,963985,2022-12-31,-30.0,82.5,0.000014,12.116096,12.431198,-6.154266,8.201492,0.429855,-267.250370,295.08472,0.0,0.002778,0.0,20.144921,25.815294
963986,963986,2022-12-31,-30.0,85.0,0.000025,8.479378,15.138229,-5.186493,12.883133,2.463058,-266.361480,294.75952,0.0,0.008333,0.0,22.840146,22.133654
963987,963987,2022-12-31,-30.0,87.5,0.000005,8.858284,19.495651,-4.598602,18.322586,3.715012,-263.540740,294.41772,0.0,0.005556,0.0,28.176485,18.276232
963988,963988,2022-12-31,-30.0,90.0,0.000003,7.129768,22.185104,-3.670868,25.125320,4.077316,-261.371860,294.01343,0.0,0.008333,0.0,33.339913,17.952013

In [77]:
df_all.fillna(0)

,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw
0,0.0,20.0,1980-01-01,0.000017,85.120087,-2.618088,-2.175461,2.218536,-1.998657,0.000000,47.828575,0.150970,0.078217
1,0.0,22.5,1980-01-01,0.000007,83.907196,-3.190353,-2.749680,0.741974,-1.811157,0.000000,44.152794,0.095917,0.004822
2,0.0,25.0,1980-01-01,0.000015,83.807587,-3.930588,-2.235031,2.988068,-1.632446,0.000000,44.861778,0.084991,0.111206
3,0.0,27.5,1980-01-01,0.000013,83.241180,-6.866135,-1.026047,5.995880,-0.287720,0.000000,40.847130,0.059113,0.012238
4,0.0,30.0,1980-01-01,0.000017,67.768524,-8.022385,-1.324875,6.034943,0.197632,0.000000,28.021935,0.019348,0.003830
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5921157,-30.0,80.0,2022-12-31,0.000011,13.485237,13.612839,-5.971649,5.094070,-1.689285,295.336670,24.838732,0.045502,0.003967
5921158,-30.0,82.5,2022-12-31,0.000014,12.116096,12.431198,-6.154266,8.201492,0.429855,295.084717,25.815294,0.059784,0.000229
5921159,-30.0,85.0,2022-12-31,0.000025,8.479378,15.138229,-5.186493,12.883133,2.463058,294.759521,22.133654,0.063934,0.000305
5921160,-30.0,87.5,2022-12-31,0.000005,8.858284,19.495651,-4.598602,18.322586,3.715012,294.417725,18.276232,0.057159,0.000061
5921161,-30.0,90.0,2022-12-31,0.000003,7.129768,22.185104,-3.670868,25.125320,4.077316,294.013428,17.952013,0.069916,0.003296

# Extraction of data V3

In [1]:
import pandas as pd
import xarray as xr
import matplotlib.pyplot as plt

In [2]:
min_lat = -30
max_lat = 0
min_lon = 20
max_lon = 90
min_year = 1980
max_year = 2022

variables = ['vo','r','u','v','sst','tcwv','tclw','tciw']
df_all = pd.DataFrame()

for year in range(min_year,max_year+1):
    df_full = pd.DataFrame()
    
    for var in variables:
        ds = xr.open_dataset('/Users/paolo/Desktop/predictors_v2_dailymean/2d_clint_'+str(year)+'0101_'+str(year)+'1231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': var}})
    
        df = ds.to_dataframe().reset_index()
        df = df.loc[(df.latitude>=min_lat) & (df.longitude>=min_lon) & (df.latitude<=max_lat) & (df.longitude<=max_lon)]
        df_full['latitude'] = df.reset_index().latitude
        df_full['longitude'] = df.reset_index().longitude
        df_full['time'] = df.reset_index().time
        if var in ['u','v']:
            df_red = df.loc[df.isobaricInhPa==200,[var]].reset_index(drop=True).rename(columns={'u':'u_200','v':'v_200'})
            df_full = pd.concat([df_full,df_red],axis=1)
            df_red = df.loc[df.isobaricInhPa==850,[var]].reset_index(drop=True).rename(columns={'u':'u_850','v':'v_850'})
            df_full = pd.concat([df_full,df_red],axis=1)
        else:
            df_red = df.reset_index(drop=True).loc[:,[var]]
            df_full = pd.concat([df_full,df_red],axis=1)
    df_all = pd.concat([df_all,df_full])
    print(year)

df_all = df_all.reset_index(drop=True)
df_all

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw
0,0.0,20.0,1980-01-01,0.000007,80.761185,1.909660,-3.323872,1.687164,-1.823624,NaN,45.009384,0.104688,0.023254
1,0.0,22.5,1980-01-01,0.000004,80.703651,1.165733,-2.844494,1.060593,-1.991425,NaN,43.669964,0.104326,0.007427
2,0.0,25.0,1980-01-01,0.000007,78.231514,-1.311676,-2.125244,3.280617,-1.931789,NaN,44.030956,0.097731,0.044125
3,0.0,27.5,1980-01-01,0.000010,79.631012,-3.777573,-1.122395,5.743889,-1.243538,NaN,39.961853,0.096560,0.010863
4,0.0,30.0,1980-01-01,0.000010,71.573875,-5.734505,-1.362953,6.514030,-0.954163,NaN,28.731859,0.073104,0.007928
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5921157,-30.0,80.0,2022-12-31,0.000008,14.955482,13.163338,-4.289364,4.153252,-2.868565,295.336426,24.162498,0.033585,0.001839
5921158,-30.0,82.5,2022-12-31,0.000023,10.061256,13.957420,-4.323608,7.508942,-0.484577,295.085114,23.452278,0.044212,0.001561
5921159,-30.0,85.0,2022-12-31,0.000009,8.901871,15.958916,-3.855770,11.119324,2.067028,294.759399,19.158775,0.035525,0.000474
5921160,-30.0,87.5,2022-12-31,-0.000002,8.630913,19.073456,-3.618011,14.113441,2.629562,294.417542,17.160767,0.043179,0.001137
5921161,-30.0,90.0,2022-12-31,-0.000001,7.353394,23.511047,-3.336189,17.292694,3.282059,294.013458,16.566147,0.060794,0.002468

In [3]:
df_all.to_csv('features_all_new_dailyMeans.csv')

In [4]:
ds = xr.open_dataset('/Users/paolo/Desktop/predictors_v2_dailymean/2d_clint_'+str(1980)+'0101_'+str(1980)+'1231.grb',
                 engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': 'vo'}})

df = ds.to_dataframe().reset_index()
df.loc[(df.latitude==0) & (df.longitude==20)]

,time,latitude,longitude,number,step,isobaricInhPa,valid_time,vo
5264,1980-01-01,0.0,20.0,0,0 days,850.0,1980-01-01,6.806222e-06
15776,1980-01-02,0.0,20.0,0,0 days,850.0,1980-01-02,1.524488e-06
26288,1980-01-03,0.0,20.0,0,0 days,850.0,1980-01-03,1.400389e-06
36800,1980-01-04,0.0,20.0,0,0 days,850.0,1980-01-04,-4.308575e-06
47312,1980-01-05,0.0,20.0,0,0 days,850.0,1980-01-05,-6.312330e-07
...,...,...,...,...,...,...,...,...
3800096,1980-12-27,0.0,20.0,0,0 days,850.0,1980-12-27,5.731650e-06
3810608,1980-12-28,0.0,20.0,0,0 days,850.0,1980-12-28,4.150555e-06
3821120,1980-12-29,0.0,20.0,0,0 days,850.0,1980-12-29,9.520445e-07
3831632,1980-12-30,0.0,20.0,0,0 days,850.0,1980-12-30,-1.931723e-06
3842144,1980-12-31,0.0,20.0,0,0 days,850.0,1980-12-31,-3.400113e-06

## comparison with old features

In [4]:
train = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/training_sets_withrealtom.csv')
val = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/validation_sets_withrealtom.csv')
test = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/test_sets_withrealtom.csv')

In [31]:
train[(train.sst.values-df_all.loc[df_all.time<='2010-12-31'].fillna(0).sst.values) >= 1e-3]

Empty DataFrame
Columns: [Unnamed: 0, time, latitude, longitude, vo, r, u_200, u_850, v_200, v_850, ttr, sst, lsm, newlsm, new_target, Real_tom_target]
Index: []

In [66]:
ds = xr.open_dataset('/Users/paolo/Desktop/tc_fullDataset/2d_clint_'+str(1996)+'0101_'+str(1996)+'1231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': 'r'}})
df = ds.to_dataframe().reset_index()
df.loc[(df.time=='1996-11-22') & (df.latitude==0) & (df.longitude==20)]

,time,latitude,longitude,number,step,isobaricInhPa,valid_time,r
3432176,1996-11-22,0.0,20.0,0,0 days,700.0,1996-11-22,74.947937

In [67]:
ds = xr.open_dataset('/Users/paolo/Desktop/19960101_19961231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': 'r'}})
df = ds.to_dataframe().reset_index()
df.loc[(df.time=='1996-11-22') & (df.latitude==0) & (df.longitude==20)]

,time,latitude,longitude,number,step,isobaricInhPa,valid_time,r
3432176,1996-11-22,0.0,20.0,0,0 days,700.0,1996-11-22,71.849899

In [70]:
ds = xr.open_dataset('/Users/paolo/Desktop/tc_fullDataset/2d_clint_19960101_19961231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': 'r'}})
df = ds.to_dataframe().reset_index()
df.loc[(df.time=='1996-11-22') & (df.latitude==0) & (df.longitude==20)]

,time,latitude,longitude,number,step,isobaricInhPa,valid_time,r
3432176,1996-11-22,0.0,20.0,0,0 days,700.0,1996-11-22,74.947937

In [71]:
ds = xr.open_dataset('/Users/paolo/Desktop/19960101_19961231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': 'r'}})
df = ds.to_dataframe().reset_index()
df.loc[(df.time=='1996-11-22') & (df.latitude==0) & (df.longitude==20)]

,time,latitude,longitude,number,step,isobaricInhPa,valid_time,r
3432176,1996-11-22,0.0,20.0,0,0 days,700.0,1996-11-22,71.849899

In [10]:
import pandas as pd
df_all = pd.read_csv('features_all_new_dailyMeans.csv').fillna(0)

In [11]:
train = df_all.loc[df_all.time<='2010-12-31'].reset_index(drop=True).fillna(0)
val = df_all.loc[(df_all.time>='2011-01-01') & (df_all.time<='2015-12-31')].reset_index(drop=True).fillna(0)
test = df_all.loc[(df_all.time>='2016-04-01') & (df_all.time<='2022-12-31')].reset_index(drop=True).fillna(0)
train.to_csv("train_dailymeans.csv")
val.to_csv("val_dailymeans.csv")
test.to_csv("test_dailymeans.csv")

In [12]:
train.to_csv("train_dailymeans.csv")

In [13]:
val.to_csv("val_dailymeans.csv")
test.to_csv("test_dailymeans.csv")

In [9]:
tr = pd.read_csv('train_dailymeans.csv')
va = pd.read_csv('val_dailymeans.csv')
te = pd.read_csv('test_dailymeans.csv')
te

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,year,datetime,dayMonth,target_2daysBefore,p131089
0,0,2016-04-01,0.0,20.0,0.000004,81.055560,-8.377182,5.273445,2.527817,2.160847,0.00000,53.959347,0.066320,0.052278,2016,04-01,90,0.0,0.000000
1,1,2016-04-01,0.0,22.5,-0.000002,76.221700,-6.143539,4.284462,4.278809,2.030232,0.00000,53.494244,0.086551,0.236994,2016,04-01,90,0.0,0.000000
2,2,2016-04-01,0.0,25.0,0.000018,75.465416,-1.724731,3.315552,3.811935,1.344738,0.00000,53.025135,0.314800,0.518474,2016,04-01,90,0.0,0.000000
3,3,2016-04-01,0.0,27.5,-0.000009,72.850200,1.577347,1.549385,4.243774,2.951813,0.00000,48.393536,0.186379,0.423175,2016,04-01,90,0.0,0.000000
4,4,2016-04-01,0.0,30.0,-0.000009,82.229460,1.983276,1.535709,5.736717,0.056183,0.00000,41.883312,0.094952,0.209450,2016,04-01,90,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929677,929677,2022-12-31,-30.0,80.0,0.000008,14.955483,13.163338,-4.289364,4.153252,-2.868565,295.33643,24.162498,0.033585,0.001839,2022,12-31,364,0.0,0.003781
929678,929678,2022-12-31,-30.0,82.5,0.000023,10.061256,13.957420,-4.323608,7.508942,-0.484577,295.08510,23.452278,0.044212,0.001561,2022,12-31,364,0.0,0.002778
929679,929679,2022-12-31,-30.0,85.0,0.000009,8.901871,15.958916,-3.855770,11.119324,2.067028,294.75940,19.158775,0.035525,0.000474,2022,12-31,364,0.0,0.008333
929680,929680,2022-12-31,-30.0,87.5,-0.000002,8.630913,19.073456,-3.618012,14.113441,2.629562,294.41754,17.160767,0.043179,0.001137,2022,12-31,364,0.0,0.005556
929681,929681,2022-12-31,-30.0,90.0,-0.000001,7.353394,23.511047,-3.336189,17.292694,3.282059,294.01346,16.566147,0.060794,0.002468,2022,12-31,364,0.0,0.008333

In [17]:
d = pd.read_csv('test_dailymeans.csv')
aux_d = pd.read_csv('val_dailymeans.csv')

d['year'] = d.apply(lambda x: int(x.time[:4]), axis=1)

d['datetime'] = d.apply(lambda x: x.time[5:], axis=1)

d['dayMonth'] = 0
i = 0
for datetime in aux_d['datetime'].unique():
    d.loc[d.datetime==datetime,'dayMonth'] = i
    i+=1

d.to_csv('test_dailymeans.csv')

In [18]:
train = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/training_sets_withrealtom.csv')
val = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/validation_sets_withrealtom.csv')
test = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/test_sets_withrealtom.csv')
test = test.loc[test.time>='2016-04-01']

In [21]:
d = pd.read_csv('test_dailymeans.csv')
d['target_2daysBefore'] = 0
d.loc[754:,'target_2daysBefore'] = test.new_target[:-754].values
d.to_csv('test_dailymeans.csv')

/var/folders/h8/q6jr81l13jg__h7vcvcff1y00000gn/T/ipykernel_2380/251307838.py:3: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  d.loc[754:,'target_2daysBefore'] = test.new_target[:-754].values

In [59]:
ver = pd.read_csv('train_dailymeans.csv')
ver[ver.target_2daysBefore>0]

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,latitude,longitude,time,vo,r,u_200,...,v_200,v_850,sst,tcwv,tclw,tciw,year,datetime,dayMonth,target_2daysBefore
6625,6625,6625,6625,6625,-17.5,52.5,1980-01-18,-9.181698e-05,84.793530,-3.174133,...,3.034668,7.972977,301.38720,61.764755,0.406998,0.299347,1980,01-18,17,7.5
6626,6626,6626,6626,6626,-17.5,55.0,1980-01-18,-3.049125e-05,63.690018,-2.236633,...,1.308105,-1.734055,301.03370,54.823350,0.054169,0.059982,1980,01-18,17,59.5
6627,6627,6627,6627,6627,-17.5,57.5,1980-01-18,-1.632025e-05,66.674390,-4.631165,...,-4.736816,-2.993820,301.09326,53.733505,0.047287,0.005829,1980,01-18,17,73.0
6628,6628,6628,6628,6628,-17.5,60.0,1980-01-18,-7.901093e-06,64.246660,-4.963196,...,-5.379395,-4.857101,301.04834,54.654404,0.047516,0.003906,1980,01-18,17,11.0
6654,6654,6654,6654,6654,-20.0,52.5,1980-01-18,-6.717046e-05,89.559160,-6.342102,...,-1.172363,10.525711,300.90674,61.844833,0.297180,0.134933,1980,01-18,17,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258851,4258851,4258851,4258851,4258851,-20.0,87.5,2010-12-05,-1.408074e-05,48.168777,19.855896,...,-12.606262,4.812637,298.27540,31.756945,0.062424,0.000000,2010,12-05,339,21.5
4258852,4258852,4258852,4258852,4258852,-20.0,90.0,2010-12-05,-2.027217e-05,33.229324,16.816833,...,-10.231262,5.177872,297.93360,31.958117,0.040512,0.000000,2010,12-05,339,95.0
4258881,4258881,4258881,4258881,4258881,-22.5,90.0,2010-12-05,2.295637e-06,32.436356,29.008240,...,-12.846497,7.003067,296.92773,28.719835,0.070053,0.000000,2010,12-05,339,19.5
4259229,4259229,4259229,4259229,4259229,-20.0,90.0,2010-12-06,2.617308e-07,28.100586,13.698425,...,-18.377457,1.778213,297.97437,29.095196,0.033463,0.000000,2010,12-06,340,5.0
4259258,4259258,4259258,4259258,4259258,-22.5,90.0,2010-12-06,-3.150635e-06,9.317383,21.581238,...,-22.453629,3.648331,296.96948,20.770977,0.051132,0.000000,2010,12-06,340,13.0

In [58]:
train.loc[train.new_target>0]

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,ttr,sst,lsm,newlsm,new_target,Real_tom_target
5871,5871,1980-01-16,-17.5,52.5,-0.000014,60.351845,1.234871,-0.773159,-3.530334,7.336716,-250.01370,301.43362,0.0,0.0,7.5,66.5
5872,5872,1980-01-16,-17.5,55.0,-0.000026,50.415565,-2.621948,1.099010,-2.193008,3.714371,-272.56778,301.10532,0.0,100.0,59.5,62.0
5873,5873,1980-01-16,-17.5,57.5,-0.000026,75.459020,-4.373039,3.345387,-1.927475,-1.146687,-242.81370,301.10132,0.0,100.0,73.0,73.0
5874,5874,1980-01-16,-17.5,60.0,-0.000029,76.820854,-5.727272,3.181236,-3.412529,-5.426723,-234.93814,300.93990,0.0,0.0,11.0,11.0
5900,5900,1980-01-16,-20.0,52.5,-0.000022,54.792885,2.242195,-3.668610,-6.547958,8.608688,-271.35297,300.91660,0.0,0.0,40.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258097,126931,2010-12-03,-20.0,87.5,-0.000029,72.094850,20.389458,-2.584744,-9.844009,8.757473,-290.04535,297.76294,0.0,0.0,21.5,0.0
4258098,126932,2010-12-03,-20.0,90.0,-0.000077,82.071236,17.011322,-1.937389,-9.631927,6.997993,-275.78760,297.62292,0.0,0.0,95.0,5.0
4258127,126961,2010-12-03,-22.5,90.0,-0.000045,83.383080,24.577164,-10.730095,-13.831566,5.042275,-270.72687,296.62805,0.0,0.0,19.5,13.0
4258475,127309,2010-12-04,-20.0,90.0,-0.000025,53.181130,16.971146,3.005432,-12.496155,4.316814,-292.86185,297.85980,0.0,0.0,5.0,0.0
4258504,127338,2010-12-04,-22.5,90.0,-0.000022,71.567370,28.597565,-4.914021,-14.664146,7.599438,-284.16852,296.65450,0.0,0.0,13.0,0.0

In [22]:
clim = pd.read_csv('/Users/paolo/Documents/TC_old/clim_area.csv').set_index(['time','latitude','longitude'], drop=True)
clim

                               Unnamed: 0  number    step  surface  \
time       latitude longitude
1980-01-01  0.0     20.0                0       0  0 days      0.0
                    22.5                1       0  0 days      0.0
                    25.0                2       0  0 days      0.0
                    27.5                3       0  0 days      0.0
                    30.0                4       0  0 days      0.0
...                                   ...     ...     ...      ...
2022-12-31 -30.0    80.0          5921157       0  0 days      0.0
                    82.5          5921158       0  0 days      0.0
                    85.0          5921159       0  0 days      0.0
                    87.5          5921160       0  0 days      0.0
                    90.0          5921161       0  0 days      0.0

                               valid_time   p131089
time       latitude longitude
1980-01-01  0.0     20.0       1980-01-01  0.000000
                    22.5       1980-01-01  0.000000
                    25.0       1980-01-01  0.000000
                    27.5       1980-01-01  0.000000
                    30.0       1980-01-01  0.000000
...                                   ...       ...
2022-12-31 -30.0    80.0       2022-12-31  0.003781
                    82.5       2022-12-31  0.002778
                    85.0       2022-12-31  0.008333
                    87.5       2022-12-31  0.005556
                    90.0       2022-12-31  0.008333

[5921162 rows x 6 columns]

In [8]:
max(clim.p131089)

0.087235525

In [27]:
d = pd.read_csv('test_dailymeans.csv')
d = d.loc[:,d.columns[4:]].set_index(['time','latitude','longitude'],drop=True)
d = d.join(clim.loc[:,'p131089'])
d = d.reset_index()
d.to_csv('test_dailymeans.csv')

# Extraction of data Atlantic

In [1]:
import pandas as pd
import xarray as xr
import matplotlib.pyplot as plt

In [4]:
year=1980
variables = ['vo','r','u','v','sst','tcwv','tclw','tciw']
var='vo'
ds = xr.open_dataset('/Users/paolo/Desktop/predictors_v2_dailymean/2d_clint_'+str(year)+'0101_'+str(year)+'1231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': var}})
ds
#df = ds.to_dataframe().reset_index()

<xarray.Dataset>
Dimensions:        (time: 366, latitude: 73, longitude: 144)
Coordinates:
    number         int64 ...
  * time           (time) datetime64[ns] 1980-01-01 1980-01-02 ... 1980-12-31
    step           timedelta64[ns] ...
    isobaricInhPa  float64 ...
  * latitude       (latitude) float64 90.0 87.5 85.0 82.5 ... -85.0 -87.5 -90.0
  * longitude      (longitude) float64 -180.0 -177.5 -175.0 ... 175.0 177.5
    valid_time     (time) datetime64[ns] ...
Data variables:
    vo             (time, latitude, longitude) float32 ...
Attributes:
    GRIB_edition:            1
    GRIB_centre:             ecmf
    GRIB_centreDescription:  European Centre for Medium-Range Weather Forecasts
    GRIB_subCentre:          0
    Conventions:             CF-1.7
    institution:             European Centre for Medium-Range Weather Forecasts
    history:                 2023-09-29T11:39 GRIB to CDM+CF via cfgrib-0.9.1...

In [2]:
min_lat = 10
max_lat = 40
min_lon = -90
max_lon = -20
min_year = 1980
max_year = 2022

variables = ['vo','r','u','v','sst','tcwv','tclw','tciw']
df_all = pd.DataFrame()

for year in range(min_year,max_year+1):
    df_full = pd.DataFrame()
    
    for var in variables:
        ds = xr.open_dataset('/Users/paolo/Desktop/predictors_v2_dailymean/2d_clint_'+str(year)+'0101_'+str(year)+'1231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': var}})
    
        df = ds.to_dataframe().reset_index()
        df = df.loc[(df.latitude>=min_lat) & (df.longitude>=min_lon) & (df.latitude<=max_lat) & (df.longitude<=max_lon)]
        df_full['latitude'] = df.reset_index().latitude
        df_full['longitude'] = df.reset_index().longitude
        df_full['time'] = df.reset_index().time
        if var in ['u','v']:
            df_red = df.loc[df.isobaricInhPa==200,[var]].reset_index(drop=True).rename(columns={'u':'u_200','v':'v_200'})
            df_full = pd.concat([df_full,df_red],axis=1)
            df_red = df.loc[df.isobaricInhPa==850,[var]].reset_index(drop=True).rename(columns={'u':'u_850','v':'v_850'})
            df_full = pd.concat([df_full,df_red],axis=1)
        else:
            df_red = df.reset_index(drop=True).loc[:,[var]]
            df_full = pd.concat([df_full,df_red],axis=1)
    df_all = pd.concat([df_all,df_full])
    print(year)

df_all = df_all.reset_index(drop=True)
df_all

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw
0,40.0,-90.0,1980-01-01,-0.000007,44.713528,10.698517,3.193596,-6.865570,-5.106041,NaN,7.027856,0.035780,0.005125
1,40.0,-87.5,1980-01-01,0.000007,36.624432,9.591637,1.696613,-3.868561,-4.458462,NaN,6.300080,0.044869,0.010488
2,40.0,-85.0,1980-01-01,0.000007,37.621235,10.684669,0.584248,-1.069183,-2.137562,NaN,6.600942,0.046887,0.008923
3,40.0,-82.5,1980-01-01,0.000003,19.087339,12.444183,0.113667,1.313889,-0.631775,NaN,6.244626,0.028166,0.009826
4,40.0,-80.0,1980-01-01,-0.000001,12.242437,14.768517,0.392281,2.876091,0.841381,NaN,5.439828,0.004323,0.008743
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5921157,10.0,-30.0,2022-12-31,-0.000014,71.637817,25.077530,-2.583450,-3.434738,1.619846,299.655457,44.060562,0.049255,0.003997
5921158,10.0,-27.5,2022-12-31,-0.000023,86.019241,24.854836,-2.945362,-4.175957,2.247295,299.619812,48.604057,0.064415,0.006935
5921159,10.0,-25.0,2022-12-31,-0.000013,86.228569,25.211678,-5.236095,-4.081444,2.259289,299.446075,49.572327,0.069138,0.011164
5921160,10.0,-22.5,2022-12-31,-0.000012,84.940941,26.189056,-7.434673,-4.871941,3.943325,299.724121,47.611908,0.029220,0.010363
5921161,10.0,-20.0,2022-12-31,-0.000029,83.112701,26.259842,-7.091228,-2.481094,3.504337,300.885406,42.878448,0.026932,0.012897

In [3]:
df_all

,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw
0,40.0,-90.0,1980-01-01,-0.000007,44.713528,10.698517,3.193596,-6.865570,-5.106041,NaN,7.027856,0.035780,0.005125
1,40.0,-87.5,1980-01-01,0.000007,36.624432,9.591637,1.696613,-3.868561,-4.458462,NaN,6.300080,0.044869,0.010488
2,40.0,-85.0,1980-01-01,0.000007,37.621235,10.684669,0.584248,-1.069183,-2.137562,NaN,6.600942,0.046887,0.008923
3,40.0,-82.5,1980-01-01,0.000003,19.087339,12.444183,0.113667,1.313889,-0.631775,NaN,6.244626,0.028166,0.009826
4,40.0,-80.0,1980-01-01,-0.000001,12.242437,14.768517,0.392281,2.876091,0.841381,NaN,5.439828,0.004323,0.008743
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5921157,10.0,-30.0,2022-12-31,-0.000014,71.637817,25.077530,-2.583450,-3.434738,1.619846,299.655457,44.060562,0.049255,0.003997
5921158,10.0,-27.5,2022-12-31,-0.000023,86.019241,24.854836,-2.945362,-4.175957,2.247295,299.619812,48.604057,0.064415,0.006935
5921159,10.0,-25.0,2022-12-31,-0.000013,86.228569,25.211678,-5.236095,-4.081444,2.259289,299.446075,49.572327,0.069138,0.011164
5921160,10.0,-22.5,2022-12-31,-0.000012,84.940941,26.189056,-7.434673,-4.871941,3.943325,299.724121,47.611908,0.029220,0.010363
5921161,10.0,-20.0,2022-12-31,-0.000029,83.112701,26.259842,-7.091228,-2.481094,3.504337,300.885406,42.878448,0.026932,0.012897

In [9]:
min_lat = -30
max_lat = 0
min_lon = 160
max_lon = 180
min_lon2 = -180
max_lon2 = -130
min_year = 1980
max_year = 2022

variables = ['vo','r','u','v','sst','tcwv','tclw','tciw']
df_all = pd.DataFrame()

for year in range(min_year,max_year+1):
    df_full = pd.DataFrame()
    
    for var in variables:
        ds = xr.open_dataset('/Users/paolo/Desktop/predictors_v2_dailymean/2d_clint_'+str(year)+'0101_'+str(year)+'1231.grb',
                         engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': var}})
    
        df = ds.to_dataframe().reset_index()
        df = df.loc[((df.latitude>=min_lat) & (df.longitude>=min_lon) & (df.latitude<=max_lat) & (df.longitude<=max_lon)) | 
                    ((df.latitude>=min_lat) & (df.longitude>=min_lon2) & (df.latitude<=max_lat) & (df.longitude<=max_lon2))]
        df_full['latitude'] = df.reset_index().latitude
        df_full['longitude'] = df.reset_index().longitude
        df_full['time'] = df.reset_index().time
        if var in ['u','v']:
            df_red = df.loc[df.isobaricInhPa==200,[var]].reset_index(drop=True).rename(columns={'u':'u_200','v':'v_200'})
            df_full = pd.concat([df_full,df_red],axis=1)
            df_red = df.loc[df.isobaricInhPa==850,[var]].reset_index(drop=True).rename(columns={'u':'u_850','v':'v_850'})
            df_full = pd.concat([df_full,df_red],axis=1)
        else:
            df_red = df.reset_index(drop=True).loc[:,[var]]
            df_full = pd.concat([df_full,df_red],axis=1)
    df_all = pd.concat([df_all,df_full])
    print(year)

df_all = df_all.reset_index(drop=True)
df_all

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw
0,0.0,-180.0,1980-01-01,-5.384209e-07,69.310150,-6.490738,-6.369946,3.098381,2.099468,301.852051,53.519650,0.038531,0.014921
1,0.0,-177.5,1980-01-01,-2.511806e-06,73.348633,-6.971405,-6.317524,5.824814,1.024296,301.447815,54.682392,0.042153,0.007436
2,0.0,-175.0,1980-01-01,2.530287e-07,71.567039,-3.536407,-6.449829,6.867020,-0.022255,301.147491,53.751545,0.052397,0.004648
3,0.0,-172.5,1980-01-01,2.439338e-06,64.313980,-3.020370,-7.221954,8.262741,-0.852936,300.989471,50.608486,0.048668,0.002337
4,0.0,-170.0,1980-01-01,8.422270e-06,54.932987,-4.733513,-8.061779,9.546844,-1.256710,300.894135,44.995216,0.022677,0.000259
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5921157,-30.0,167.5,2022-12-31,1.541512e-05,55.054260,6.191574,-14.550068,-28.480026,-0.068630,295.099091,33.437653,0.110813,0.130687
5921158,-30.0,170.0,2022-12-31,1.045222e-05,61.175552,9.282433,-15.293159,-22.008034,-2.091724,295.446686,35.639977,0.145713,0.276271
5921159,-30.0,172.5,2022-12-31,8.163290e-06,47.237968,14.065933,-14.139412,-20.064804,-2.587440,295.369171,32.194786,0.109919,0.269952
5921160,-30.0,175.0,2022-12-31,8.468181e-06,28.856133,22.114693,-12.176773,-17.776718,-1.458115,295.648102,28.115150,0.080574,0.133053
5921161,-30.0,177.5,2022-12-31,7.614421e-06,16.348450,28.765312,-9.526714,-12.935707,0.530510,295.325745,24.995064,0.045479,0.082296

In [3]:
df_all.to_csv('features_all_new_dailyMeans_Atlantic.csv')

In [4]:
min_lat = 10
max_lat = 40
min_lon = -90
max_lon = -20
min_year = 1980
max_year = 2022

variables = ['p131089']
df_all = pd.DataFrame()

for year in range(min_year,max_year+1):
    df_full = pd.DataFrame()
    
    for var in variables:
        ds = xr.open_dataset('/Users/paolo/Documents/TC_old/data/data_new_samples/target/2.5col_obs_'+str(year)+'_48_17.grb',
                         engine='cfgrib')
    
        df = ds.to_dataframe().reset_index()
        df = df.loc[(df.latitude>=min_lat) & (df.longitude>=min_lon) & (df.latitude<=max_lat) & (df.longitude<=max_lon)]
        df_full['latitude'] = df.reset_index().latitude
        df_full['longitude'] = df.reset_index().longitude
        df_full['time'] = df.reset_index().time
        if var in ['u','v']:
            df_red = df.loc[df.isobaricInhPa==200,[var]].reset_index(drop=True).rename(columns={'u':'u_200','v':'v_200'})
            df_full = pd.concat([df_full,df_red],axis=1)
            df_red = df.loc[df.isobaricInhPa==850,[var]].reset_index(drop=True).rename(columns={'u':'u_850','v':'v_850'})
            df_full = pd.concat([df_full,df_red],axis=1)
        else:
            df_red = df.reset_index(drop=True).loc[:,[var]]
            df_full = pd.concat([df_full,df_red],axis=1)
    df_all = pd.concat([df_all,df_full])
    print(year)

df_all = df_all.reset_index(drop=True)
df_all

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

         latitude  longitude       time  p131089
0            40.0      -90.0 1980-01-01      0.0
1            40.0      -87.5 1980-01-01      0.0
2            40.0      -85.0 1980-01-01      0.0
3            40.0      -82.5 1980-01-01      0.0
4            40.0      -80.0 1980-01-01      0.0
...           ...        ...        ...      ...
5921157      10.0      -30.0 2022-12-31      0.0
5921158      10.0      -27.5 2022-12-31      0.0
5921159      10.0      -25.0 2022-12-31      0.0
5921160      10.0      -22.5 2022-12-31      0.0
5921161      10.0      -20.0 2022-12-31      0.0

[5921162 rows x 4 columns]

In [5]:
df_all.to_csv('targets_all_new_dailyMeans_Atlantic.csv')

In [11]:
df_all = pd.read_csv('features_all_new_dailyMeans_Atlantic.csv')
train = df_all.loc[df_all.time<='2010-12-31'].reset_index(drop=True).fillna(0)
val = df_all.loc[(df_all.time>='2011-01-01') & (df_all.time<='2015-12-31')].reset_index(drop=True).fillna(0)
test = df_all.loc[(df_all.time>='2016-04-01') & (df_all.time<='2022-12-31')].reset_index(drop=True).fillna(0)
train.to_csv("train_dailymeans_Atlantic.csv")
val.to_csv("val_dailymeans_Atlantic.csv")
test.to_csv("test_dailymeans_Atlantic.csv")

In [12]:
df_all = pd.read_csv('targets_all_new_dailyMeans_Atlantic.csv')
df_all['new_target'] = df_all['p131089']
train = df_all.loc[df_all.time<='2010-12-31'].reset_index(drop=True).fillna(0)
val = df_all.loc[(df_all.time>='2011-01-01') & (df_all.time<='2015-12-31')].reset_index(drop=True).fillna(0)
test = df_all.loc[(df_all.time>='2016-04-01') & (df_all.time<='2022-12-31')].reset_index(drop=True).fillna(0)
train.to_csv("target_train_dailymeans_Atlantic.csv")
val.to_csv("target_val_dailymeans_Atlantic.csv")
test.to_csv("target_test_dailymeans_Atlantic.csv")

In [7]:
import numpy as np
df = pd.read_csv('target_test_dailymeans_Atlantic.csv')
np.sqrt((df.latitude-df.longitude)**2 + (df.latitude-df.longitude)**2)

0         183.847763
1         180.312229
2         176.776695
3         173.241161
4         169.705627
             ...
929677     56.568542
929678     53.033009
929679     49.497475
929680     45.961941
929681     42.426407
Length: 929682, dtype: float64

# Indian and Atantic together

In [3]:
Ind_train = pd.read_csv('train_dailymeans.csv')
Ind_val = pd.read_csv('val_dailymeans.csv')
Ind_test = pd.read_csv('test_dailymeans.csv')

Atl_train = pd.read_csv('train_dailymeans_Atlantic.csv')
Atl_val = pd.read_csv('val_dailymeans_Atlantic.csv')
Atl_test = pd.read_csv('test_dailymeans_Atlantic.csv')

In [10]:
train_both = pd.concat((Ind_train,Atl_train),axis=0).reset_index(drop=True)
val_both = pd.concat((Ind_val,Atl_val),axis=0).reset_index(drop=True)
test_both = pd.concat((Ind_test,Atl_test),axis=0).reset_index(drop=True)

In [13]:
train_both.to_csv('train_dailymeans_both.csv')
val_both.to_csv('val_dailymeans_both.csv')
test_both.to_csv('test_dailymeans_both.csv')

In [15]:
Ind_train_tar = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/training_sets_withrealtom.csv').loc[:,['latitude','longitude','time','new_target']]
Ind_val_tar = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/validation_sets_withrealtom.csv').loc[:,['latitude','longitude','time','new_target']]
Ind_test_tar = pd.read_csv('/Users/paolo/Documents/TC_old/data/NewData_csv/test_sets_withrealtom.csv').loc[:,['latitude','longitude','time','new_target']]

Atl_train_tar = pd.read_csv('target_train_dailymeans_Atlantic.csv').loc[:,['latitude','longitude','time','new_target']]
Atl_val_tar = pd.read_csv('target_val_dailymeans_Atlantic.csv').loc[:,['latitude','longitude','time','new_target']]
Atl_test_tar = pd.read_csv('target_test_dailymeans_Atlantic.csv').loc[:,['latitude','longitude','time','new_target']]

In [16]:
train_both_tar = pd.concat((Ind_train_tar,Atl_train_tar),axis=0).reset_index(drop=True)
val_both_tar = pd.concat((Ind_val_tar,Atl_val_tar),axis=0).reset_index(drop=True)
test_both_tar = pd.concat((Ind_test_tar,Atl_test_tar),axis=0).reset_index(drop=True)

In [19]:
train_both_tar.to_csv('train_dailymeans_both_target.csv')
val_both_tar.to_csv('val_dailymeans_both_target.csv')
test_both_tar.to_csv('test_dailymeans_both_target.csv')

# Check of multiple region data

In [31]:
Ind_train = pd.read_csv('test_dailymeans.csv')
Ind_train

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,year,datetime,dayMonth,target_2daysBefore,p131089
0,0,2016-04-01,0.0,20.0,0.000004,81.055560,-8.377182,5.273445,2.527817,2.160847,0.00000,53.959347,0.066320,0.052278,2016,04-01,90,0.0,0.000000
1,1,2016-04-01,0.0,22.5,-0.000002,76.221700,-6.143539,4.284462,4.278809,2.030232,0.00000,53.494244,0.086551,0.236994,2016,04-01,90,0.0,0.000000
2,2,2016-04-01,0.0,25.0,0.000018,75.465416,-1.724731,3.315552,3.811935,1.344738,0.00000,53.025135,0.314800,0.518474,2016,04-01,90,0.0,0.000000
3,3,2016-04-01,0.0,27.5,-0.000009,72.850200,1.577347,1.549385,4.243774,2.951813,0.00000,48.393536,0.186379,0.423175,2016,04-01,90,0.0,0.000000
4,4,2016-04-01,0.0,30.0,-0.000009,82.229460,1.983276,1.535709,5.736717,0.056183,0.00000,41.883312,0.094952,0.209450,2016,04-01,90,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929677,929677,2022-12-31,-30.0,80.0,0.000008,14.955483,13.163338,-4.289364,4.153252,-2.868565,295.33643,24.162498,0.033585,0.001839,2022,12-31,364,0.0,0.003781
929678,929678,2022-12-31,-30.0,82.5,0.000023,10.061256,13.957420,-4.323608,7.508942,-0.484577,295.08510,23.452278,0.044212,0.001561,2022,12-31,364,0.0,0.002778
929679,929679,2022-12-31,-30.0,85.0,0.000009,8.901871,15.958916,-3.855770,11.119324,2.067028,294.75940,19.158775,0.035525,0.000474,2022,12-31,364,0.0,0.008333
929680,929680,2022-12-31,-30.0,87.5,-0.000002,8.630913,19.073456,-3.618012,14.113441,2.629562,294.41754,17.160767,0.043179,0.001137,2022,12-31,364,0.0,0.005556
929681,929681,2022-12-31,-30.0,90.0,-0.000001,7.353394,23.511047,-3.336189,17.292694,3.282059,294.01346,16.566147,0.060794,0.002468,2022,12-31,364,0.0,0.008333

In [32]:
df = pd.read_csv('/Users/paolo/Documents/TC/Paolo/data/mutiple_regions/test_dailymeans_Sindian.csv')
df

,Unnamed: 0,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,shear
0,0,0.0,20.0,2016-04-01,0.000004,81.055560,-8.377182,5.273445,2.527817,2.160847,0.00000,53.959347,0.066320,0.052278,13.655559
1,1,0.0,22.5,2016-04-01,-0.000002,76.221700,-6.143539,4.284462,4.278809,2.030232,0.00000,53.494244,0.086551,0.236994,10.667676
2,2,0.0,25.0,2016-04-01,0.000018,75.465416,-1.724731,3.315552,3.811935,1.344738,0.00000,53.025135,0.314800,0.518474,5.611731
3,3,0.0,27.5,2016-04-01,-0.000009,72.850200,1.577347,1.549385,4.243774,2.951813,0.00000,48.393536,0.186379,0.423175,1.292264
4,4,0.0,30.0,2016-04-01,-0.000009,82.229460,1.983276,1.535709,5.736717,0.056183,0.00000,41.883312,0.094952,0.209450,5.698139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929677,929677,-30.0,80.0,2022-12-31,0.000008,14.955483,13.163338,-4.289364,4.153252,-2.868565,295.33643,24.162498,0.033585,0.001839,18.812302
929678,929678,-30.0,82.5,2022-12-31,0.000023,10.061256,13.957420,-4.323608,7.508942,-0.484577,295.08510,23.452278,0.044212,0.001561,19.952251
929679,929679,-30.0,85.0,2022-12-31,0.000009,8.901871,15.958916,-3.855770,11.119324,2.067028,294.75940,19.158775,0.035525,0.000474,21.784533
929680,929680,-30.0,87.5,2022-12-31,-0.000002,8.630913,19.073456,-3.618012,14.113441,2.629562,294.41754,17.160767,0.043179,0.001137,25.431913
929681,929681,-30.0,90.0,2022-12-31,-0.000001,7.353394,23.511047,-3.336189,17.292694,3.282059,294.01346,16.566147,0.060794,0.002468,30.283197

In [50]:
df = pd.read_csv('/Users/paolo/Documents/TC/Paolo/data/mutiple_regions/test_dailymeans_Spacific.csv')
df

,Unnamed: 0,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,shear
0,0,0.0,-180.0,2016-04-01,-1.598470e-06,81.812294,-9.317802,-3.554645,10.268623,-3.867653,302.80405,60.963320,0.089616,0.066019,15.265919
1,1,0.0,-177.5,2016-04-01,1.749059e-05,75.006160,-9.059692,-4.118401,9.290596,-3.368408,302.71863,60.158886,0.106500,0.043245,13.589214
2,2,0.0,-175.0,2016-04-01,1.329830e-05,69.945390,-7.952744,-5.173966,8.224541,-1.556091,302.47370,56.842678,0.078640,0.035072,10.167712
3,3,0.0,-172.5,2016-04-01,9.810319e-07,63.638270,-6.495026,-7.359928,8.537231,-0.873032,302.17258,54.004406,0.060138,0.017300,9.449926
4,4,0.0,-170.0,2016-04-01,-5.816779e-06,55.208410,-5.312828,-9.601757,9.121117,-0.976284,302.16050,49.442318,0.029784,0.011510,10.970525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929677,929677,-30.0,167.5,2022-12-31,1.541512e-05,55.054260,6.191574,-14.550068,-28.480026,-0.068630,295.09910,33.437653,0.110813,0.130687,35.177025
929678,929678,-30.0,170.0,2022-12-31,1.045222e-05,61.175552,9.282433,-15.293159,-22.008034,-2.091724,295.44670,35.639977,0.145713,0.276271,31.632565
929679,929679,-30.0,172.5,2022-12-31,8.163290e-06,47.237970,14.065933,-14.139412,-20.064804,-2.587441,295.36917,32.194786,0.109919,0.269952,33.181316
929680,929680,-30.0,175.0,2022-12-31,8.468182e-06,28.856133,22.114693,-12.176773,-17.776718,-1.458115,295.64810,28.115150,0.080574,0.133053,37.976326
929681,929681,-30.0,177.5,2022-12-31,7.614421e-06,16.348450,28.765312,-9.526714,-12.935707,0.530510,295.32574,24.995064,0.045479,0.082296,40.590866

In [46]:
dummy = pd.read_csv('/Users/paolo/Documents/TC_predictions/test_with_newTarget_predictions_FFNN_noOversampling.csv')
dummy.loc[dummy.new_target!=0].time

3528      2016-04-10
3529      2016-04-10
3530      2016-04-10
3557      2016-04-10
3558      2016-04-10
             ...
840912    2022-05-10
840941    2022-05-10
840970    2022-05-10
841318    2022-05-11
841347    2022-05-11
Name: time, Length: 6430, dtype: object

In [48]:
df = pd.read_csv('/Users/paolo/Documents/TC/Paolo/data/mutiple_regions/target_test_dailymeans_Sindian.csv')
df.loc[df.new_target!=0]

        Unnamed: 0  latitude  longitude        time  p131089  new_target
3528          3528     -10.0       67.5  2016-04-10      0.5         0.5
3529          3529     -10.0       70.0  2016-04-10     26.0        26.0
3530          3530     -10.0       72.5  2016-04-10     29.0        29.0
3557          3557     -12.5       67.5  2016-04-10     36.5        36.5
3558          3558     -12.5       70.0  2016-04-10    100.0       100.0
...            ...       ...        ...         ...      ...         ...
840912      840912     -15.0       90.0  2022-05-10     99.0        99.0
840941      840941     -17.5       90.0  2022-05-10     76.5        76.5
840970      840970     -20.0       90.0  2022-05-10     20.5        20.5
841318      841318     -17.5       90.0  2022-05-11      2.0         2.0
841347      841347     -20.0       90.0  2022-05-11     11.0        11.0

[6430 rows x 6 columns]

In [56]:
pd.read_csv('/Users/paolo/Documents/TC/Paolo/scripts/trial.csvSindian.csv')

,Unnamed: 0.1,Unnamed: 0,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,shear,predictions_lag0
0,0,0,0.0,20.0,2016-04-01,0.000004,81.055560,-8.377182,5.273445,2.527817,2.160847,0.00000,53.959347,0.066320,0.052278,13.655559,1.235265e-05
1,1,1,0.0,22.5,2016-04-01,-0.000002,76.221700,-6.143539,4.284462,4.278809,2.030232,0.00000,53.494244,0.086551,0.236994,10.667676,4.426387e-07
2,2,2,0.0,25.0,2016-04-01,0.000018,75.465416,-1.724731,3.315552,3.811935,1.344738,0.00000,53.025135,0.314800,0.518474,5.611731,1.293279e-06
3,3,3,0.0,27.5,2016-04-01,-0.000009,72.850200,1.577347,1.549385,4.243774,2.951813,0.00000,48.393536,0.186379,0.423175,1.292264,2.333468e-06
4,4,4,0.0,30.0,2016-04-01,-0.000009,82.229460,1.983276,1.535709,5.736717,0.056183,0.00000,41.883312,0.094952,0.209450,5.698139,3.368324e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929677,929677,929677,-30.0,80.0,2022-12-31,0.000008,14.955483,13.163338,-4.289364,4.153252,-2.868565,295.33643,24.162498,0.033585,0.001839,18.812302,1.243494e-05
929678,929678,929678,-30.0,82.5,2022-12-31,0.000023,10.061256,13.957420,-4.323608,7.508942,-0.484577,295.08510,23.452278,0.044212,0.001561,19.952251,9.510237e-06
929679,929679,929679,-30.0,85.0,2022-12-31,0.000009,8.901871,15.958916,-3.855770,11.119324,2.067028,294.75940,19.158775,0.035525,0.000474,21.784533,3.232425e-06
929680,929680,929680,-30.0,87.5,2022-12-31,-0.000002,8.630913,19.073456,-3.618012,14.113441,2.629562,294.41754,17.160767,0.043179,0.001137,25.431913,6.687278e-06
929681,929681,929681,-30.0,90.0,2022-12-31,-0.000001,7.353394,23.511047,-3.336189,17.292694,3.282059,294.01346,16.566147,0.060794,0.002468,30.283197,5.750590e-06

In [5]:
Ind_test = pd.read_csv('val_dailymeans.csv')
Ind_test

,Unnamed: 0,time,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,year,datetime,dayMonth,target_2daysBefore,p131089
0,0,2011-01-01,0.0,20.0,0.000003,73.016390,-5.760780,-4.216808,6.860649,-4.352928,0.00000,45.908466,0.051140,0.010802,2011,01-01,0,0.0,0.000000
1,1,2011-01-01,0.0,22.5,0.000003,74.569660,-4.942451,-3.857407,6.459419,-3.991157,0.00000,45.768530,0.054900,0.014612,2011,01-01,0,0.0,0.000000
2,2,2011-01-01,0.0,25.0,0.000004,80.080090,-3.848740,-3.175144,6.303680,-3.446140,0.00000,47.055485,0.085401,0.041099,2011,01-01,0,0.0,0.000000
3,3,2011-01-01,0.0,27.5,0.000012,83.676704,0.330811,-2.526569,7.235268,-2.307594,0.00000,42.947980,0.091923,0.081013,2011,01-01,0,0.0,0.000000
4,4,2011-01-01,0.0,30.0,0.000011,76.225440,3.678749,-1.027561,7.020271,-0.077572,0.00000,32.404747,0.098393,0.042447,2011,01-01,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688397,688397,2015-12-31,-30.0,80.0,0.000014,70.662056,23.560066,1.655861,9.690376,3.621418,296.77530,33.177513,0.011262,0.000468,2015,12-31,364,0.0,0.003781
688398,688398,2015-12-31,-30.0,82.5,-0.000006,51.213654,22.381706,0.321705,9.860390,-0.099480,296.44290,30.789354,0.029158,0.000318,2015,12-31,364,0.0,0.002778
688399,688399,2015-12-31,-30.0,85.0,0.000009,46.678970,22.464828,0.851299,7.661758,-0.725330,295.73486,30.004541,0.039861,0.000132,2015,12-31,364,0.0,0.008333
688400,688400,2015-12-31,-30.0,87.5,0.000002,59.362090,22.364807,0.543045,5.595253,-1.542034,295.24792,31.301584,0.131010,0.001035,2015,12-31,364,0.0,0.005556
688401,688401,2015-12-31,-30.0,90.0,0.000014,65.915980,23.052147,0.048565,1.080147,-1.203087,295.79680,30.365824,0.148117,0.000147,2015,12-31,364,0.0,0.008333