In [1]:
import pandas as pd
import xarray as xr
import matplotlib.pyplot as plt

pd.options.display.max_columns = None
pd.set_option('display.max_rows', 150)

def open_file(path='', eng=None, backed=False, key='', multiple=False, multiple_value=0.0, lat=0, lon=0):
    if backed==True:
        ds = xr.open_dataset(path, engine=eng, backend_kwargs={'filter_by_keys': {'shortName': key}})
    else: ds = xr.open_dataset(path, engine=eng)
        
    gpi_bidim = ds.to_dataframe()

    # print and checks
    print(gpi_bidim)
    print(gpi_bidim.step.unique())
    print(gpi_bidim.number.unique())
    if 'isobaricInhPa' in gpi_bidim.columns: print(gpi_bidim.isobaricInhPa.unique())
    
    # reload and see number of data
    if backed==True:
        ds = xr.open_dataset(path, engine=eng, backend_kwargs={'filter_by_keys': {'shortName': key}})
    else: ds = xr.open_dataset(path, engine=eng)
    gpi_bidim = ds.to_dataframe()
    gpi_bidim = gpi_bidim.reset_index()
    if multiple is False: 
        gpi_bidim = gpi_bidim.loc[:,['time','latitude','longitude',key]]
    else: 
        gpi_bidim = gpi_bidim.loc[gpi_bidim.isobaricInhPa==multiple_value,['time','latitude','longitude',key]]

    res = gpi_bidim.groupby(['time']).count()
    print(res)
    print(res.loc[res[key]!=10512])
    
    # plot di un punto ogni giorno
    plt.plot(gpi_bidim.loc[(gpi_bidim.latitude==lat) & (gpi_bidim.longitude==lon),key].reset_index(drop=True))
    
    # check 
    print(gpi_bidim.loc[(gpi_bidim.latitude==lat) & (gpi_bidim.longitude==lon),:])

In [8]:
df = xr.open_dataset("/Users/paolo/Documents/TC_old/data/data_new_samples/19800101_19801231.grb", engine='cfgrib', backend_kwargs={'filter_by_keys': {'shortName': 'vo'}})
df_bidim = df.to_dataframe()

In [2]:
ds = xr.open_dataset('/Users/paolo/Documents/TC_old/2.5col_obs_1980_48_17.grb')
ds_bidim = ds.to_dataframe()

In [9]:
df_bidim

                               number   step  isobaricInhPa valid_time  \
time       latitude longitude
1980-01-01  90.0    -180.0          0 0 days          850.0 1980-01-01
                    -177.5          0 0 days          850.0 1980-01-01
                    -175.0          0 0 days          850.0 1980-01-01
                    -172.5          0 0 days          850.0 1980-01-01
                    -170.0          0 0 days          850.0 1980-01-01
...                               ...    ...            ...        ...
1980-12-31 -90.0     167.5          0 0 days          850.0 1980-12-31
                     170.0          0 0 days          850.0 1980-12-31
                     172.5          0 0 days          850.0 1980-12-31
                     175.0          0 0 days          850.0 1980-12-31
                     177.5          0 0 days          850.0 1980-12-31

                                     vo
time       latitude longitude
1980-01-01  90.0    -180.0    -0.000007
                    -177.5    -0.000007
                    -175.0    -0.000006
                    -172.5    -0.000007
                    -170.0    -0.000007
...                                 ...
1980-12-31 -90.0     167.5     0.000034
                     170.0     0.000034
                     172.5     0.000034
                     175.0     0.000034
                     177.5     0.000034

[3847392 rows x 5 columns]

In [10]:
ds_bidim

                               number   step  surface valid_time  p131089
time       latitude longitude
1980-01-01  90.0    -180.0          0 0 days      0.0 1980-01-01      0.0
                    -177.5          0 0 days      0.0 1980-01-01      0.0
                    -175.0          0 0 days      0.0 1980-01-01      0.0
                    -172.5          0 0 days      0.0 1980-01-01      0.0
                    -170.0          0 0 days      0.0 1980-01-01      0.0
...                               ...    ...      ...        ...      ...
1980-12-31 -90.0     167.5          0 0 days      0.0 1980-12-31      0.0
                     170.0          0 0 days      0.0 1980-12-31      0.0
                     172.5          0 0 days      0.0 1980-12-31      0.0
                     175.0          0 0 days      0.0 1980-12-31      0.0
                     177.5          0 0 days      0.0 1980-12-31      0.0

[3847392 rows x 5 columns]

In [14]:
joint = df_bidim.join(ds_bidim, lsuffix='feat', rsuffix='tar')

In [17]:
print(len(joint.loc[(joint.p131089==1) & (joint.vo>0)]), len(joint.loc[(joint.p131089==1) & (joint.vo<=0)]))

60 92