In [24]:
import pandas as pd

In [39]:
my_data_path = "/Users/Utente/PycharmProjects/TC/Riccardo/data/multiple_regions/"
other_data_path = "/Users/Utente/Desktop/tesi_TC/datiSindian/"

In [76]:
target_test = "target_test_dailymeans_Sindian.csv"
target_train = "target_train_dailymeans_Sindian.csv"
target_val = "target_val_dailymeans_Sindian.csv"
feature_test = "test_dailymeans_Sindian.csv"
feature_train = "train_dailymeans_Sindian.csv"
feature_val = "val_dailymeans_Sindian.csv"
current_file = feature_val

In [77]:
my_df = pd.read_csv(my_data_path + current_file)
my_df.shape

(688402, 15)

In [78]:
my_df.head(10)

,Unnamed: 0,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,shear
0,0,0.0,20.0,2011-01-01,0.000003,73.016390,-5.760780,-4.216808,6.860649,-4.352928,0.00000,45.908466,0.051140,0.010802,11.319371
1,1,0.0,22.5,2011-01-01,0.000003,74.569660,-4.942451,-3.857407,6.459419,-3.991157,0.00000,45.768530,0.054900,0.014612,10.506754
2,2,0.0,25.0,2011-01-01,0.000004,80.080090,-3.848740,-3.175144,6.303680,-3.446140,0.00000,47.055485,0.085401,0.041099,9.773062
3,3,0.0,27.5,2011-01-01,0.000012,83.676704,0.330811,-2.526569,7.235268,-2.307594,0.00000,42.947980,0.091923,0.081013,9.961468
4,4,0.0,30.0,2011-01-01,0.000011,76.225440,3.678749,-1.027561,7.020271,-0.077572,0.00000,32.404747,0.098393,0.042447,8.516380
5,5,0.0,32.5,2011-01-01,0.000002,60.900370,5.273415,0.154057,4.615906,1.136013,299.41153,30.551752,0.066344,0.024424,6.190112
6,6,0.0,35.0,2011-01-01,-0.000005,50.685130,7.743004,-0.997948,0.303375,-0.124859,0.00000,19.756823,0.034285,0.016246,8.751435
7,7,0.0,37.5,2011-01-01,0.000014,47.806470,7.743332,-3.608578,-3.506874,0.831078,0.00000,20.624182,0.061751,0.002791,12.152517
8,8,0.0,40.0,2011-01-01,-0.000001,42.622723,5.935654,-3.639137,-3.728523,1.117294,0.00000,34.578594,0.053543,0.000301,10.731196
9,9,0.0,42.5,2011-01-01,-0.000003,38.725056,4.507561,-4.343834,-3.158920,-1.701240,0.00000,34.257520,0.032376,0.000602,8.970620

In [79]:
other_df = pd.read_csv(other_data_path + current_file)
other_df.shape

(688402, 15)

In [80]:
other_df.head(10)

,Unnamed: 0,latitude,longitude,time,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,shear
0,0,0.0,20.0,2011-01-01,0.000003,73.016390,-5.760780,-4.216808,6.860649,-4.352928,0.00000,45.908466,0.051140,0.010802,11.319371
1,1,0.0,22.5,2011-01-01,0.000003,74.569660,-4.942451,-3.857407,6.459419,-3.991157,0.00000,45.768530,0.054900,0.014612,10.506754
2,2,0.0,25.0,2011-01-01,0.000004,80.080090,-3.848740,-3.175144,6.303680,-3.446140,0.00000,47.055485,0.085401,0.041099,9.773062
3,3,0.0,27.5,2011-01-01,0.000012,83.676704,0.330811,-2.526569,7.235268,-2.307594,0.00000,42.947980,0.091923,0.081013,9.961468
4,4,0.0,30.0,2011-01-01,0.000011,76.225440,3.678749,-1.027561,7.020271,-0.077572,0.00000,32.404747,0.098393,0.042447,8.516380
5,5,0.0,32.5,2011-01-01,0.000002,60.900370,5.273415,0.154057,4.615906,1.136013,299.41153,30.551752,0.066344,0.024424,6.190112
6,6,0.0,35.0,2011-01-01,-0.000005,50.685130,7.743004,-0.997948,0.303375,-0.124859,0.00000,19.756823,0.034285,0.016246,8.751435
7,7,0.0,37.5,2011-01-01,0.000014,47.806470,7.743332,-3.608578,-3.506874,0.831078,0.00000,20.624182,0.061751,0.002791,12.152517
8,8,0.0,40.0,2011-01-01,-0.000001,42.622723,5.935654,-3.639137,-3.728523,1.117294,0.00000,34.578594,0.053543,0.000301,10.731196
9,9,0.0,42.5,2011-01-01,-0.000003,38.725056,4.507561,-4.343834,-3.158920,-1.701240,0.00000,34.257520,0.032376,0.000602,8.970620

In [81]:
my_df.describe()

,Unnamed: 0,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,shear
count,688402.000000,688402.00000,688402.000000,6.884020e+05,688402.000000,688402.000000,688402.000000,688402.000000,688402.000000,688402.000000,688402.000000,688402.000000,688402.000000,688402.000000
mean,344200.500000,-15.00000,55.000000,4.229069e-07,45.543636,7.793185,-2.225560,-1.565372,0.817771,214.470606,34.317560,0.053331,0.016074,20.105768
std,198724.684343,9.35415,20.916516,1.522048e-05,25.620167,18.356502,4.982612,8.544354,3.714380,135.033749,13.402160,0.046018,0.037604,12.385810
min,0.000000,-30.00000,20.000000,-3.786844e-04,0.144531,-36.575050,-26.473476,-56.854324,-29.084778,0.000000,1.745241,0.000000,0.000000,0.020818
25%,172100.250000,-22.50000,37.500000,-8.045212e-06,22.452086,-6.439590,-5.739269,-6.621443,-1.325165,0.000000,23.652328,0.024801,0.000020,10.699258
50%,344200.500000,-15.00000,55.000000,8.697461e-07,48.694265,4.859222,-2.579859,-1.639538,0.857462,298.316590,34.279489,0.043624,0.001503,17.542545
75%,516300.750000,-7.50000,72.500000,9.671472e-06,67.862506,20.298731,0.785491,3.343903,3.009193,301.185052,44.857546,0.068557,0.013651,27.231629
max,688401.000000,0.00000,90.000000,1.194185e-04,99.066040,78.174034,26.230045,57.667260,23.150910,304.993740,70.088280,0.775330,1.130640,93.431816

In [82]:
other_df.describe()

,Unnamed: 0,latitude,longitude,vo,r,u_200,u_850,v_200,v_850,sst,tcwv,tclw,tciw,shear
count,688402.000000,688402.00000,688402.000000,6.884020e+05,688402.000000,688402.000000,688402.000000,688402.000000,688402.000000,688402.000000,688402.000000,688402.000000,688402.000000,688402.000000
mean,344200.500000,-15.00000,55.000000,4.229069e-07,45.543636,7.793185,-2.225560,-1.565372,0.817771,214.470606,34.317560,0.053331,0.016074,20.105768
std,198724.684343,9.35415,20.916516,1.522048e-05,25.620167,18.356502,4.982612,8.544354,3.714380,135.033749,13.402160,0.046018,0.037604,12.385810
min,0.000000,-30.00000,20.000000,-3.786844e-04,0.144531,-36.575050,-26.473476,-56.854324,-29.084778,0.000000,1.745241,0.000000,0.000000,0.020818
25%,172100.250000,-22.50000,37.500000,-8.045212e-06,22.452086,-6.439590,-5.739269,-6.621443,-1.325165,0.000000,23.652328,0.024801,0.000020,10.699258
50%,344200.500000,-15.00000,55.000000,8.697461e-07,48.694265,4.859222,-2.579859,-1.639538,0.857462,298.316590,34.279489,0.043624,0.001503,17.542545
75%,516300.750000,-7.50000,72.500000,9.671472e-06,67.862506,20.298731,0.785491,3.343903,3.009193,301.185052,44.857546,0.068557,0.013651,27.231629
max,688401.000000,0.00000,90.000000,1.194185e-04,99.066040,78.174034,26.230045,57.667260,23.150910,304.993740,70.088280,0.775330,1.130640,93.431816

In [83]:
print(my_df.compare(other_df))

Empty DataFrame
Columns: []
Index: []

In [84]:
print(pd.concat([my_df,other_df]).drop_duplicates(keep=False))

Empty DataFrame
Columns: [Unnamed: 0, latitude, longitude, time, vo, r, u_200, u_850, v_200, v_850, sst, tcwv, tclw, tciw, shear]
Index: []